/*recet css*/

* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*style*/

body {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fbfbf8;
    overflow: hidden;
}

main {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: dashed #aaa 1px;
}

p {
    color: #2c1505;
    font-family: "Ubuntu", sans-serif;
}

.title {
    width: 100%;
    padding-top: 8vh;
    text-align: center;
}

.title p {
    font-size: 1em;
}


/*top*/

.top {
    width: 100%;
    padding-top: 20vh;
    text-align: center;
}

.top p {
    font-size: 2em;
}

.top p::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 1em;
    background-size: cover;
    vertical-align: middle;
    background-repeat: no-repeat;
    border-radius: 50%;
    /*↓ここに画像のURLを入れる*/
    background-image: url(img/chino.jpg);
}


/*belongs*/

.belong-content {
    width: 100%;
    padding-top: 4vh;
    text-align: center;
}

.belong-content p {
    font-size: 1em;
    padding: 0.2em 0;
}